.card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}

.form {
  --background: #ffffff;
  --input-focus: #2d8cf0;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --main-color: #323232;
  padding: 10px 10px;
  background: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 8px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  width: 100%;
  max-width: 350px; 
}

.sgnup{
  font-family: 'Dela Gothic One', sans-serif;
  color: var(--font-color);
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center;
}

.separator {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.separator > div {
  width: 100px;
  height: 2px;
  border-radius: 5px;
  background-color: var(--font-color-sub);
}

.separator > span {
  color: var(--font-color);
  font-family: 'Space Mono', monospace;
  font-weight: 600;
}

.oauthButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 300px;
  height: 45px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 16px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
  transition: all 250ms;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.oauthButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #212121;
  z-index: -1;
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.oauthButton:hover {
  color: #e8e8e8;
}

.oauthButton:hover::before {
  width: 100%;
}

.form > input {
  width: 100%;
  max-width: 300px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  outline: none;
  padding-left: 10px;
}

.form > input:focus {
  border-color: var(--input-focus);
}

.alert-container {
  width: 100%;
  max-width: 300px;
}

.alert {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  font-weight: 600;
}

.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
}

.alert-success {
  background-color: #d4edda;
  color: #155724;
}

.no-acc {
  font-size: small;
  text-align: center;
}

.no-acc a:hover {
  text-decoration: underline;
}

.icon {
  width: 1rem;  
  height: 1rem;  
}
